.navBar {
    width: 100%;
    text-align: center;
    background-color: whitesmoke;
    opacity: .6;
    height: 60px;
  }
  
  .navlink {
    display: inline-block;
    padding: 20px 20px;
    opacity: 1;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
  }
  