/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */


body {
  background-image: url('./images/mountains.jpg');
  background-size: cover; 
  background-position: center;
  background-attachment: fixed;
  color: whitesmoke;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer-div {
  display: flex;
  height: 100px;
  margin-top: auto;
  background-color: whitesmoke;
  height: 80px;
  justify-content: space-between;
  color: black;
  font-size: small;
}

.footer-div .footer-split {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: auto;
  opacity: 1;
  padding: 10px;
  width: 50%;
}

.footer-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: auto;
  opacity: 1;
  padding: 10px;
  width: 50%;
}

.footer-div .footer-split span {
  padding: 5px;
  display: block;
}

.footer-div .footer-right span {
  padding: 5px;
  display: block;
  text-align: right;
}

.foot-link {
  color: black;
  text-decoration: none;
  background-image: linear-gradient(90deg, rgb(250, 180, 192), rgb(128, 50, 128), rgb(60, 99, 228));
  background-size: 0% 3px;
  background-repeat: no-repeat;
  background-position: left 1em;
  font-size: large;
  transition: background-size 300ms;
}

.foot-link:hover {
  background-size: 100% 3px;
}

.MainMenu {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  color: whitesmoke;
}

.MainMenu h3 {
  text-align: center;
  margin-bottom: 30px;
}

.MenuLink {
  text-align: center;
  display: inline-block;
  padding: 20px 20px;
  margin-bottom: 10px;
  font-size: 30px;
  text-decoration: none;
  color: black;
  transition: color 0.3s;
  border: solid 1px black;
  background-color: whitesmoke;
  border-radius: 10px;
  width: 800px;
}

.MenuLink:hover {
  color: lightblue;
}


.infoDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
  padding-top: 30px;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.infoDivtext {
  font-size: 1.2rem;
  line-height: 1.5;
  text-shadow: inherit;
  width: 50%;
}

.infoDiv h1 {
  text-align: center;
  padding-bottom: 20px;
  font-size: 2.1rem;
}

.formOuter {
  margin-top: 100px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  min-height: 350px;
  max-width: 600px;
  padding: 25px 30px 40px;
  color: black;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
}

.container .title {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 25px;
  text-align: center;
}

.container form .form-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.inputbox input:out-of-range {
  color: #FF2400;
}

form .form-details .inputbox {
  width: calc(100% / 2 - 20px);
}

.form-details .inputbox input {
  height: 45px;
  width: 100%;
  text-align: center;
  font-weight: 400;
}

form .form-details .messageInput {
  margin-top: 20px;
  width: calc(100% - 20px);
}

.form-details .messageInput input {
  height: 50px;
  width: 100%;
}

.formBtn {
  margin-top: 80px;
  height: 45px;
  width: calc(100% / 2 - 20px);
  background-color: lightblue;
  font-size: large;
}

.btbDiv {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}


.split {
  display: flex;
  justify-content: space-between;
}

.entrySection {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: whitesmoke;
  margin-bottom: 40px;
}

.entrySection h1 {
  text-align: center;
  font-size: xx-large;
}

.entryList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.entryListItem {
  padding-bottom: 20px;
}

.entryContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  box-shadow: 0px 0px 20px -5px;
  color: black;
  flex-direction: row;
}

.stresslevel,
.productivityLevel {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
  flex: 1;
  height: 40px;
  font-weight: bold;
  backdrop-filter: blur(50px);
}


.message {
  margin: 0;
  padding: 15px;
  width: 100%;
  background-color: whitesmoke;
}

.entryDate {
  padding: 10px 10px 0px;
  text-align: right;
  font-size: smaller;
  width: 100%;
  background-color: whitesmoke;
}

.removeEntryDiv {
  width: 100%;
  height: 40px;
  padding-top: 3px;
}

.removeEntryDiv button {
  width: 100%;
  height: 100%;
  font-weight: bold;
}

.removeEntryDiv button:hover {
  font-size: 14px;
}

.connectionError {
  width: 100%;
  text-align: center;
  padding: 10px;
}

.averages {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  margin-top: 20px;
  background-color: white;
  box-shadow: 0px 0px 20px -5px;
  color: black;
  outline: solid 1px black;
  margin-bottom: 20px;
  padding: 5px;
}

.averagesHeader {
  width: 100%;
  text-align: center;
}

.averageStress,
.averageProductivity {
  font-size: 1.2rem;
  width: 50%;
  text-align: center;
}

.monthlyDiv {
  margin: 60px 30px 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-content: center;
}

.month {
  margin: 10px;
  font-weight: bold;
}

.monthlyAverages {
  font-size: 2rem;
  outline: solid 1px black;
  border-radius: 5px;
  margin-bottom: 10px;
  background: white;
  color: black;
  transition: 0.3s ease;
}

.monthlyAverages:hover {
  scale: 105%;
}

.monthlyStressAndProductivity {
  padding: 0 10px 10px;
  font-size: 1.5rem;
}

.monthlyEntries {
  font-size: small;
  text-align: right;
  margin-bottom: 5px;
  margin-right: 10px;
}

@media (max-width: 1200px) {
  .split {
    flex-direction: column;
  }
  .infoDivtext {
    width: auto;
  }
}

@media (max-width:900px) {
  .MenuLink {
    width: 80%;
  }
}

@media (max-width:600px) {
  .container form .form-details{
    flex-direction: column;
  }
  .container form .inputbox {
    width: calc(100%);
  }
  .container form .messageInput{
    width: calc(100%);
  }
  .inputbox input {
    margin-bottom: 10px;
    width: 100%;
  }
  .infoDiv {
    max-width: calc(100%);
    padding: 20px;
  }
}

@media (max-width:500px) {
  .stresslevel, .productivityLevel {
    flex: 100%;
    height: 20px;
  }
}

@media (max-width: 500px) {
  .averages {
    width: 95%;
  }
}

@media (max-width: 500px) {
  .averageProductivity, .averageStress {
    /* flex: 100%; */
    width: 100%;
  }
}

@media (max-width:850px) {
  .monthlyDiv {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width:700px) {
  .monthlyDiv {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width:455px) {
  .monthlyDiv {
    grid-template-columns: repeat(1, 1fr);
    margin: 40px 50px;
  }
}